@import "tailwindcss/base";
/* @import "@radix-ui/themes/styles.css"; */

@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/indigo-dark.css";
/* @import "@radix-ui/colors/indigo-alpha.css";
@import "@radix-ui/colors/indigo-dark-alpha.css"; */
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: var(--accent-2);
    --popover-foreground: 222.2 84% 4.9%;
    --primary: var(--accent-9);
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 222.35, 89.47%, 96.27%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 226.04 70.04% 55.49%;
    --radius: 0.5rem;
  }

  .dark {
    --background: var(--indigo-1);
    --foreground: var(--indigo-11);
    --card: var(--indigo-2);
    --card-foreground: var(--indigo-12);
    --popover: var(--indigo-2);
    --popover-foreground: var(--indigo-12);
    --primary: var(--indigo-9);
    --primary-foreground: white;
    --secondary: var(--indigo-7);
    --secondary-foreground: var(--indigo-12);
    --muted: var(--indigo-4);
    --muted-foreground: var(--indigo-1);
    --accent: var(--indigo-7);
    --accent-foreground: white;
    --destructive: red;
    --destructive-foreground: white;
    --border: var(--indigo-4);
    --input: var(--indigo-9);
    --ring: var(--indigo-9);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "MiSans";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("assets/MiSans-Regular.ttf");
}

* {
  font-family: MiSans;
  :before {
    font-family: MiSans;
  }
  :after {
    font-family: MiSans;
  }
}

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 修复 TaiwindCSS 和 Vditor 在有序列表样式冲突的问题 */
@layer base {
  ol,
  ul,
  menu {
    list-style: decimal;
  }
}
