@import "tailwindcss/base";
@import "@radix-ui/themes/styles.css";
/* @see https://www.radix-ui.com/colors */
/* N in [1, 12] */
/* var(--gray-N) */
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-dark.css";
/* var(--indigo-N) */
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/indigo-dark.css";
@import "@radix-ui/colors/indigo-dark-alpha.css";
/* var(--white-aN) */
@import "@radix-ui/colors/white-alpha.css";
/* var(--black-aN) */
@import "@radix-ui/colors/black-alpha.css";
/* @import "vditor/dist/css/content-theme/light.css";
@import "vditor/dist/css/content-theme/dark.css"; */

@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

@layer base {
  :root {
    --background: var(--white-a1);
    --foreground: var(--black-a11);
    --card: var(--gray-2);
    --card-foreground: var(--gray-12);
    --popover: var(--indigo-1);
    --popover-foreground: var(--indigo-12);
    --primary: var(--indigo-9);
    --primary-foreground: var(--white-a12);
    --secondary: var(--indigo-7);
    --secondary-foreground: var(--indigo-12);
    --muted: var(--gray-7);
    --muted-foreground: var(--indigo-1);
    --accent: var(--indigo-4);
    --accent-foreground: var(--black-a11);
    --destructive: red;
    --destructive-foreground: white;
    --border: var(--indigo-4);
    --input: var(--indigo-9);
    --ring: var(--indigo-9);
  }

  .dark {
    --background: var(--gray-3);
    --foreground: var(--white-a10);
    --card: var(--gray-2);
    --card-foreground: var(--gray-12);
    --popover: var(--gray-2);
    --popover-foreground: var(--white-a12);
    --primary: var(--indigo-9);
    --primary-foreground: white;
    --secondary: var(--indigo-7);
    --secondary-foreground: var(--indigo-12);
    --muted: var(--gray-7);
    --muted-foreground: var(--gray-10);
    --accent: var(--indigo-a2);
    --accent-foreground: var(--white-a12);
    --destructive: red;
    --destructive-foreground: white;
    --border: var(--white-a1);
    --input: var(--indigo-9);
    --ring: var(--indigo-9);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "MiSans";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("assets/MiSans-Regular.ttf");
}

* {
  font-family: MiSans;
  :before {
    font-family: MiSans;
  }
  :after {
    font-family: MiSans;
  }
}

.vditor-reset pre > code {
  font-family: Conolas;
  :before {
    font-family: Conolas;
  }
  :after {
    font-family: Conolas;
  }
}


:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 修复 TaiwindCSS 和 Vditor 在有序列表样式冲突的问题 */
@layer base {
  ol,
  ul,
  menu {
    list-style: decimal;
  }
}